body {
	margin: 0;
	padding: 0;
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

#options {
	position: absolute;
	bottom: 0;
	left: 80px;
	right: 0px;
	background-color: rgba(100, 100, 100, 0.5);
	height: 45px;

	border-top-left-radius: 15px; 
}

#options a {
	position: relative;
	display: block-inline;
	background-color: rgba(300, 300, 300, 0.5);
	top: 15px;
	left: 10px;
	text-decoration: none;
	padding: 5px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: small;
	color: #111;
	border-radius: 5px;

	transition: background-color 1s;
	-webkit-transition: background-color 1s;
	-moz-transition: background-color 1s;
}

#dashContent {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}

#dash {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(67,160,71, 0.8);

	transition: left 2s;
	-webkit-transition: left 2s;
	-moz-transition: left 2s;
}

#title {
	display: block;
	position: absolute;
	background-color: rgba(50, 50, 50, 0.8);
	right: 0;
	width: 400px;
	padding: 20px;
	margin: 20px;
	color: #BBB;

	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;

	transition: background-color 2s, transform 5s, margin-right 5s;
	-webkit-transition: background-color 2s, transform 5s, margin-right 5s;
	-moz-transition: background-color 2s, transform 5s, margin-right 5s;
}

#title h1 {
	display: inline;
	font-size: 30px;
	color: #DDD;
}

#title a {
	text-decoration: none;
	color: #DDD;

}

#title:hover{
	background-color: rgba(150, 0, 0, 0.5);
}

#explanation {
	display: block;
	position: absolute;
	bottom: 50;
	left: 0;	
	background-color: rgba(50, 50, 50, 0.5);
	padding: 5px;
	padding-right: 10px;
	padding-left: 90px;
	color: #DDD;

	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;

	border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;

	transition: background-color 2s, left 1s;;
	-webkit-transition: background-color 2s, left 1s;
	-moz-transition: background-color 2s, left 1s;;
}

#explanation p{
	display: inline;
	color: #FF6666;
}

#loading {
	display: block;
	position: absolute;
	width: 300px;
	height: 30px;
	left: 50%;
	margin-left: -150px;
	top: 200px;
	text-align: center;
	line-height: 30px;
	color: #DDD;

	background-color: rgba(30, 30, 30, 0.5);

	border-radius: 50px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 50px;

	transition: background-color 1s, width .5s, height .5s, margin-top .5s, margin-left .5s, line-height .5s, font-size .5s, top 2s;
	-webkit-transition: background-color 1s, width .5s, height .5s, margin-top .5s, margin-left .5s, line-height .5s, font-size .5s, top 2s;
	-moz-transition: background-color 1s, width .5s, height .5s, margin-top .5s, margin-left .5s, line-height .5s, font-size .5s, top 2s;

	cursor: pointer;
}

#loading:hover {
	background-color: rgba(30, 30, 30, 0.8);
	width: 310;
	margin-left: -155;
	height: 40px;
	margin-top: -5px;
	line-height: 40px;
}

#bitbucketLink {
	font-size: 11px;
	text-align: right;
	color: #333;
}

#bitbucketLink p{
	display: inline;
	margin: 0;
	padding: 0;
	background-color: white;
	padding-left: 5px;
	padding-right: 5px;

	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;

}

#bitbucketLink a{
	color: #3572b0;
}

@media 
only screen and (max-width: 500px),
(min-device-width: 500px) and (max-device-width: 900px)  {

	#title {
		left: 0;
		right: 0;
		width: auto;
		margin: 0;
		margin-top: 20px;
		text-align: justify;

		border-radius: 0;
		-webkit-border-radius: 0;
		-mox-border-radius: 0;

	}

	#title h1 {
		font-size: 25px;
	}

	#explanation {
		border-radius: 0;
		-webkit-border-radius: 0;
		-mox-border-radius: 0;
	}

	#bitbucketLink {
		margin-top: 20px;
	}

	#loading {
		top: 300px;
	}

	#options {
		left: 30px;
		right: 30px;

		text-align: center;

		border-top-right-radius: 15px; 
	}	
}






